---
http_interactions:
- request:
    method: get
    uri: https://api.weatherapi.com/v1/current.json?aqi=no&key=<CREDENTIAL>&q=iata:LIM
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Cdn-Pullzone:
      - '93447'
      Cdn-Uid:
      - 8fa3a04a-75d9-4707-8056-b7b33c8ac7fe
      Cdn-Requestcountrycode:
      - PE
      Cdn-Proxyver:
      - '1.03'
      Cdn-Requestpullsuccess:
      - 'True'
      Cdn-Requestpullcode:
      - '200'
      Cdn-Cachedat:
      - 04/07/2023 23:58:57
      Cdn-Edgestorageid:
      - '878'
      Cdn-Status:
      - '200'
      Cdn-Requestid:
      - 9e89754595c709e5cb1bed23e11c9ee1
      Cdn-Cache:
      - EXPIRED
    body:
      encoding: ASCII-8BIT
      string: '{"location":{"name":"Lima","region":"","country":"Peru","lat":-12.02,"lon":-77.11,"tz_id":"America/Lima","localtime_epoch":1680911936,"localtime":"2023-04-07
        18:58"},"current":{"last_updated_epoch":1680911100,"last_updated":"2023-04-07
        18:45","temp_c":24.7,"temp_f":76.5,"is_day":0,"condition":{"text":"Partly
        cloudy","icon":"//cdn.weatherapi.com/weather/64x64/night/116.png","code":1003},"wind_mph":8.5,"wind_kph":13.7,"wind_degree":184,"wind_dir":"S","pressure_mb":1011.0,"pressure_in":29.85,"precip_mm":0.0,"precip_in":0.0,"humidity":71,"cloud":40,"feelslike_c":26.3,"feelslike_f":79.3,"vis_km":10.0,"vis_miles":6.0,"uv":6.0,"gust_mph":9.8,"gust_kph":15.8}}'
  recorded_at: Sat, 08 Apr 2023 00:00:23 GMT
recorded_with: VCR 6.1.0
