---
http_interactions:
- request:
    method: get
    uri: https://api.weatherapi.com/v1/current.json?aqi=no&key=<CREDENTIAL>&q=iata:DXB
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Cdn-Pullzone:
      - '93447'
      Cdn-Uid:
      - 8fa3a04a-75d9-4707-8056-b7b33c8ac7fe
      Cdn-Requestcountrycode:
      - PE
      Cdn-Proxyver:
      - '1.03'
      Cdn-Requestpullsuccess:
      - 'True'
      Cdn-Requestpullcode:
      - '200'
      Cdn-Cachedat:
      - 04/08/2023 04:41:47
      Cdn-Edgestorageid:
      - '975'
      Cdn-Status:
      - '200'
      Cdn-Requestid:
      - f40a1ce9f0646390785145925d0f8494
      Cdn-Cache:
      - HIT
    body:
      encoding: ASCII-8BIT
      string: '{"location":{"name":"Dubai","region":"","country":"United Arab Emirates","lat":25.25,"lon":55.36,"tz_id":"Asia/Dubai","localtime_epoch":1680928907,"localtime":"2023-04-08
        8:41"},"current":{"last_updated_epoch":1680928200,"last_updated":"2023-04-08
        08:30","temp_c":23.0,"temp_f":73.4,"is_day":1,"condition":{"text":"Sunny","icon":"//cdn.weatherapi.com/weather/64x64/day/113.png","code":1000},"wind_mph":4.3,"wind_kph":6.8,"wind_degree":80,"wind_dir":"E","pressure_mb":1015.0,"pressure_in":29.97,"precip_mm":0.0,"precip_in":0.0,"humidity":78,"cloud":0,"feelslike_c":24.9,"feelslike_f":76.9,"vis_km":10.0,"vis_miles":6.0,"uv":6.0,"gust_mph":8.7,"gust_kph":14.0}}'
  recorded_at: Sat, 08 Apr 2023 04:45:52 GMT
recorded_with: VCR 6.1.0
